.node {
  width: 25px;
  height: 25px;
  /* border-right: 1px solid rgb(175, 216, 248); */
  border: 1px solid rgb(175, 216, 248);
  user-select: none;
  box-sizing: border-box;

  background-color: white;
}

.start {
  background-color: blue !important;
  border-color: blue;
}

.end {
  background-color: green !important;
  border-color: green;
}

.visited {
  background-color: yellow;
  border-color: yellow;
}

.wall {
  background-color: rgb(12, 53, 71);
  border-color: rgb(12, 53, 71);
}

.path {
  background-color: red !important;
  border-color: red;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.stopMouseEvent {
  pointer-events: none;
}
