.node {
  width: 40px;
  height: 40px;
  border: 1px solid red;
  user-select: none;
}

.start {
  background-color: blue;
}

.end {
  background-color: green;
}

.visited {
  background-color: yellow;
}

.wall {
  background-color: gray;
}

.path {
  background-color: red;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.stopMouseEvent {
  pointer-events: none;
}
